.menu-logo{
    height: 64px;
}
.input{
    border-color: rgb(148, 148, 148);
    border-radius: 18px;
    width: 75%;
    height: 37px;
}
button::before{

     color: rgb(0, 0, 0);
}
.showMenu{
    padding: 15px;
}
div>span:hover{
    color: rgb(3, 115, 180);
}